 <?php
            if(Mage::getSingleton('customer/session')->isLoggedIn()) {
             $customerData = Mage::getSingleton('customer/session')->getCustomer();
              $id=$customerData->getId();
              $customerModel=Mage::getModel('customer/customer')->load($id);
              $facebookId=$customerData->getFacebookId();
             }
         ?>
  <?php if($facebookId) : ?>        
<div class="page-title">
    <h1><?php echo $this->__('Remove Facebook Account') ?></h1>
</div>

<form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
 

  <div class="button">
    <input type='hidden' name='customer_id' value="<?php echo $id;?>" />
    
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove')) ?>" class="button"><span><span><?php echo $this->__('Remove') ?></span></span></button>
       </div>
     
</form>
<?php endif; ?>  