
 <!--facebook login button -->
<div id="facebookloginbutton">
  <a href="#" onclick="return fblogin();" class="fb_button_one"><img src="<?php echo $this->helper('facebooklogin/active')->getLoginImg()?>" alt="<?php echo $this->__('Connect with Facebook')?>" /></a>
 </div>


<script type="text/javascript">
 jQuery(document).ready(function(){
    var element = jQuery('.fb_button_one').detach();
    jQuery('#login-form .button:last').after(element);
    });
 </script>       
