<?php            
$params = Mage::getSingleton('core/session')->getSessionVariable();
?>
<div class="page-title">
    <h1><?php echo $this->__('This email already registered') ?></h1>
</div>

<form action="<?php echo $this->getUrl('*/*/login') ?>" method="post" id="form-validate">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Enter your password here') ?></h2>
        <p><?php echo $this->__('Please enter your password here. ') ?></p>
        <ul class="form-list">
            <li>
                <label for="email_address" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="input-box">
                    <input type="password" name="password" alt="password" id="passowrd" class="input-text required-entry validate-password" value="<?php echo $this->escapeHtml($this->getEmailValue()) ?>" />
                    <input type="hidden" name="email" value="<?php 
                    if(sizeof($params)>0){ echo $params['email']; } ?>" />
                     <input type="hidden" name="facebook_id" value="<?php if(sizeof($params)>0){ echo $params['id']; } ?>" />
                      <input type="hidden" name='http_return_url' value="<?php if(sizeof($params)>0){ if (strpos($params['http_referer'], 'checkout') !== false) {
                            echo $params['http_referer'];
                            }   } ?>" />
            </div>
            </li>
           
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
